<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <img src="assets/img/logo_text.png" class="brand-logo"/>
    <button ng-click='addPet()' type="button" class="btn btn-primary navbar-btn pull-right">Add Pet</button>
  </div>
</nav>

<div class="container realm">
  
  <div class="sidebar">
    <profile></profile>
  </div>

  <div class="content">
    <accordion close-others="false">
      <accordion-group ng-repeat="pet in pets.pets" class="card">
        <!-- Pet cards -->
        <div pet="pet" requests="pets.requests[$index]" vaccines="pets.vaccines[$index]" index="$index" userId="userId"></div>
      </accordion-group>
    </accordion>
  </div>

</div>