/*div {
  border-style: solid;
  border-width: 5px;
  height: 50px;
}*/

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.Aligner-item {
  max-width: 50%;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}

.home-button {
  margin: 10px 10px;
}

body {
  width: 100%;
  height: 500px;
}

.realm {
  width: 100%;
  height: 100%;
}

.form-control {
  width: 300px;
}
