<div>
      <div>
      <textarea id="note" class="form-control" ng-model="newContact.notes" rows="3"></textarea>
      Contact Type: <input id="contactType" name="contact" type="text" ng-model="newContact.type" class="input-small">
          <button class="btn btn-large btn-info" ng-click='postNote()'>Leave a Note</button>
      </div>
<table class="table">
    <thead>c
      <tr>
        <th>Admin ID</th>
        <th>Notes</th>
        <th>Request_ID</th>
        <th>Vet Contact</th>
        <th>Form of Communication</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="contact in contacts">
          <td>{{contact.admin_id}}</td>
          <td>{{contact.notes}}</td>
          <td>{{contact.request_id}}</td>
          <td>{{contact.vetContact_id}}</td>
          <td>{{contact.type}}</td>
      </tr>
    </tbody>
  </table>
</div>