<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Vaccine Information
      <div class="btn-group" dropdown is-open="status.isopen">
        <span class="dropdown">
          <button  class="btn btn-large btn-default dropdown-toggle">Add<span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li ng-repeat="vaccine in vaccines"><span ng-click="setVacc(vaccine.name, vaccine.id)">{{vaccine.name}}</span></li>
              </ul>
        </span>
      </div>
    </h2>
      </div>
    <div class="panel-body">
        
   <form>
    <legend>Manage Vaccinations</legend>
      Vaccine: <input type="text" name="vaccineName" ng-model="newVaccinationRecord.name"><br>
      Date Administered: <input type="text" name="lastname" ng-model="newVaccinationRecord.dateAdministered">
    <button class="btn btn-small btn-danger" ng-click="postVaccinationRecord(newVaccinationRecord)">Create Record</button>

      <hr>
      Add a new global vaccine type: <input type="text" name="vaccineName" ng-model="newVaccination.name"><br>
      How many days is it valid for?: <input type="text" name="duration" ng-model="newVaccination.duration">
      <button class="btn btn-small btn-danger" ng-click="sendVaccine(newVaccination)">Add a new vaccine</button>

    </form>
</div>
</div>
