<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">User Information 
      <button class="btn btn-default" ng-click="editUser()">Edit</button>
      <button class="btn btn-warning" ng-click="updateUserInfo()"ng-hide="editingUser">Submit</button>
    </h2>
  </div>


<div class="panel-body">
  <div>
    <div class="col-md-6">
    <form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>User Information</legend>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">First Name</label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text" ng-model="userData.firstName" placeholder="{{userData.firstName}}" class="form-control med" ng-readonly="editingUser">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">Last Name</label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text" ng-model="userData.lastName" placeholder="{{userData.lastName}}" class="form-control med" ng-readonly="editingUser">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">Phone Number</label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text" ng-model="userData.phone" placeholder="{{userData.phone}}" class="form-control med" ng-readonly="editingUser">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">Email</label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text" ng-model="userData.email" placeholder="{{userData.email}}" class="form-control med" ng-readonly="editingUser">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">Street Address</label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text" ng-model="userData.streetAddress" placeholder="{{userData.streetAddress}}" class="form-control med" ng-readonly="editingUser">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">City</label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text" ng-model="userData.city" placeholder="{{userData.city}}" class="form-control med" ng-readonly="editingUser">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">State</label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text" ng-model="userData.state" placeholder="{{userData.state}}" class="form-control med" ng-readonly="editingUser">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">Zip</label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text" ng-model="userData.zip" placeholder="{{userData.zip}}" class="form-control med" ng-readonly="editingUser">
    
  </div>
</div>

</fieldset>
</form>
</div>
<div class="col md-6">
      <form class="form-horizontal">
    <fieldset>

    <!-- Form Name -->
    <legend>Pet Info</legend>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="textinput">Name</label>
      <div class="controls">
        <input id="textinput" name="textinput" type="text" ng-model="petData.name" placeholder="{{petData.name}}" class="form-control med" ng-readonly="editingUser">
        
      </div>
    </div>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="textinput">Birthday</label>
      <div class="controls">
        <input id="textinput" name="textinput" type="text" ng-model="petData.birthdate" placeholder="{{petData.birthdate}}" class="form-control med" ng-readonly="editingUser">
        
      </div>
    </div>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="textinput">Gender</label>
      <div class="controls">
        <input id="textinput" name="textinput" type="text" ng-model="petData.gender" placeholder="{{petData.gender}}" class="form-control med" ng-readonly="editingUser">
        
      </div>
    </div>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="textinput">Breed</label>
      <div class="controls">
        <input id="textinput" name="textinput" type="text" placeholder="{{petData.breed}}" ng-model="petData.breed" class="form-control med" ng-readonly="editingUser">
        
      </div>
    </div>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="textinput">Color</label>
      <div class="controls">
        <input id="textinput" name="textinput" type="text" ng-model="petData.color" placeholder="{{petData.color}}" class="form-control med" ng-readonly="editingUser">
        
      </div>
    </div>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="textinput">Weight</label>
      <div class="controls">
        <input id="textinput" name="textinput" type="text" ng-model="petData.weight" placeholder="{{petData.weight}}" class="form-control med" ng-readonly="editingUser">
        
      </div>
    </div>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="textinput">Spay/Neuter Status</label>
      <div class="controls">
        <input id="textinput" name="textinput" type="text" ng-model="petData.neuter" placeholder="{{petData.neuter}}" class="form-control med" ng-readonly="editingUser">
        
      </div>
    </div>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="textinput">Microchip #</label>
      <div class="controls">
        <input id="textinput" name="textinput" type="text" ng-model="petData.microchip" placeholder="{{petData.microchip}}" class="form-control med" ng-readonly="editingUser">
        
      </div>
    </div>

    </fieldset>
    </form>
</div>
</div>
