<form class="form-horizontal">
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Vet Information 
       <button class="btn btn-default" ng-click="editVet()">Edit</button>
    <button ng-click="updateVetInfo(vetData)" class="btn btn-warning" ng-hide="editingVet">Submit</button>
    </h2>
  </div>


<div class="panel-body">
  <div>
    <div class="col-md-6">
 
<fieldset>

<!-- Form Name -->
<legend>Practice Info</legend>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">Practice</label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text" ng-model="vetData.practiceName" placeholder="{{vetData.practiceName}}" class="form-control med" ng-readonly="editingVet">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">Website</label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text"ng-model="vetData.website" placeholder="{{vetData.website}}" class="form-control med" ng-readonly="editingVet">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">Email</label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text" ng-model="vetData.email" placeholder="{{vetData.email}}" class="form-control med" ng-readonly="editingVet">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">Phone number</label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text" ng-model="vetData.phone" placeholder="{{vetData.phone}}" class="form-control med" ng-readonly="editingVet">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">Street Address</label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text" ng-model="vetData.streetAddress" placeholder="{{vetData.streetAddress}}" class="form-control med" ng-readonly="editingVet">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">City</label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text" ng-model="vetData.city" placeholder="{{vetData.city}}" class="form-control med" ng-readonly="editingVet">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">State</label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text" ng-model="vetData.state" placeholder="{{vetData.state}}" class="form-control med" ng-readonly="editingVet">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">Zip</label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text" ng-model="vetData.zip" placeholder="{{vetData.zip}}" class="form-control med" ng-readonly="editingVet">
    
  </div>
</div>

<!-- Text input-->


</fieldset>
</div>
<div class="col-md-6">
  <form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Main Vet Contact</legend>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">Name</label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text" placeholder="{{vet.vetName}}" class="form-control med" ng-readonly="editingVet">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">Title</label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text" placeholder="{{vet.title}}" class="form-control med" ng-readonly="editingVet">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">Phone number</label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text" placeholder="{{vet.phoneNumber}}" class="form-control med" ng-readonly="editingVet">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">Phone number</label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text" placeholder="{{vet.email}}" class="form-control med" ng-readonly="editingVet">

<div class="control-group">
  <label class="control-label" for="textinput">Preferred Contact</label>
<div class="controls">
  <input id="textinput" name="textinput" type="text" ng-model="vetData.contactMethod" placeholder="{{vetData.contactMethod}}" class="form-control med" ng-readonly="editingVet">

</div>
</div>
    
  </div>
</div>

</fieldset>
</form>
   
</div>
  </div>
     </div>

</form>
