<div>
  <div>

    <div class="profile-header">
      My Profile
      <button ng-if="!editingUser" ng-click="editUser(user)" type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-pencil"></span>
      </button>
    </div>

    <table>
      <tbody class="form-group">
        <tr><th>First Name </th><td><input ng-click="stopPropagation()" ng-readonly="!editingUser" ng-model="user.firstName"></input></td></tr>
        <tr><th>Last Name </th><td><input ng-click="stopPropagation()" ng-readonly="!editingUser" ng-model="user.lastName"></input></td></tr>
        <tr><th>Email </th><td><input ng-click="stopPropagation()" ng-readonly="!editingUser" ng-model="user.email"></input></td></tr>
        <tr><th>Street Address </th><td><input ng-click="stopPropagation()" ng-readonly="!editingUser" ng-model="user.streetAddress"></input></td></tr>
        <tr><th>City </th><td><input ng-click="stopPropagation()" ng-readonly="!editingUser" ng-model="user.city"></input></td></tr>
        <tr><th>State </th><td><input ng-click="stopPropagation()" ng-readonly="!editingUser" ng-model="user.state"></input></td></tr>
        <tr><th>Zip </th><td><input ng-click="stopPropagation()" ng-readonly="!editingUser" ng-model="user.zip"></input></td></tr>
        <tr><th>Phone </th><td><input ng-click="stopPropagation()" ng-readonly="!editingUser" ng-model="user.phone"></input></td></tr>
      </tbody>
    </table>

    <!-- Editing user button actions -->
    <button ng-if="editingUser" ng-click="updateUser()" type="button" class="btn btn-info">
      save
    </button>
    <button ng-if="editingUser" ng-click="cancelEdit()" type="button" class="btn btn-info">
      cancel
    </button>
    <button ng-if="editingUser" ng-click="CurrentUserService.deleteUser()" type="button" class="btn btn-primary btn-danger">
      delete account
    </button>

    <alert ng-if="update.success" type="success">User profile records updated!</alert>

    <alert ng-if="update.error" type="danger">Something's wrong here, please try again!</alert>

  </div>
</div>