<accordion close-others="false">
  <accordion-group class="card">
    <accordion-heading style="display:block">
      <div class="image">
        <img class='petImg' ng-src='{{pet.profilePic}}'/>
      </div>
      <div class="info">
        <table>
          <tbody>
            <tr><th>Name </th><td><input ng-click="stopPropagation()" ng-readonly="!editingPet" ng-model="pet.name"></input></td></tr>
            <tr><th>Birthday </th><td><input ng-click="stopPropagation()" ng-readonly="!editingPet" ng-model="pet.birthdate"></input></td></tr>
            <tr><th>Gender </th><td><input ng-click="stopPropagation()" ng-readonly="!editingPet" ng-model="pet.gender"></input></td></tr>
            <tr><th>Breed </th><td><input ng-click="stopPropagation()" ng-readonly="!editingPet" ng-model="pet.breed"></input></td></tr>
            <tr><th>Color </th><td><input ng-click="stopPropagation()" ng-readonly="!editingPet" ng-model="pet.color"></input> </td></tr>
            <tr><th>Weight </th><td><input ng-click="stopPropagation()" ng-readonly="!editingPet" ng-model="pet.weight"></input></td></tr>
            <tr><th>Spay/Neuter </th><td><input ng-click="stopPropagation()" ng-readonly="!editingPet" ng-model="pet.neuter"></input></td></tr>
            <tr><th>Microchip </th><td><input ng-click="stopPropagation()" ng-readonly="!editingPet" ng-model="pet.microchip"></input></td></tr>
          </tbody>
        </table>
      </div>
      <div class="actions">
        <ul>
          <li ng-switch='pet.vaccineStatus'>
            <span ng-switch-when='active' class="label label-success">Active</span> 
            <span ng-switch-when='expiring' class="label label-warning">Expiring</span>
            <span ng-switch-when='expired' class="label label-danger">Expired</span>
            <span ng-switch-when='' class="label label-warning">Null</span>
          </li>
          <li><button ng-if="!editingPet" class="btn btn-default" ng-click="editPet(pet)">EDIT</button></li>
          <li><button ng-if="editingPet" class="btn btn-default" ng-click="savePet(index)">SAVE</button></li>
          <li><button ng-if="editingPet" class="btn btn-default" ng-click="cancelEdit()">CANCEL</button></li>
          <!-- <li><button class="btn btn-default">SEND</button></li> -->
          <li><button ng-click="updatePet(userId, index)" class="btn btn-default">UPDATE</button></li>
        </ul>
      </div>
    </accordion-heading>
    <alert ng-repeat="request in requests" type="warning" close="cancelRequest(userId, index, $index)">
      We are processing your request to {{request.vet.practice_name}}
    </alert>

    <table class="table">
      <thead>
        <tr>
          <td>Vaccine</td>
          <td>Expiration</td>
          <td>Status</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="vaccine in vaccines">
          <td>{{vaccine.name}}</td>
          <td>{{vaccine.dateAdministered}}</td>
          <td>{{vaccine.dateExpired}}</td>
          <td>
            <span ng-if="VaccineService.checkExpiry(vaccine) === 'active'" class="label label-success">Active</span>
            <span ng-if="VaccineService.checkExpiry(vaccine) === 'expiring'" class="label label-warning">Expiring</span>
            <span ng-if="VaccineService.checkExpiry(vaccine) === 'expired'" class="label label-danger">Expired</span>
          </td>
        </tr>
      </tbody>
    </table>
  </accordion-group>
</accordion>
<!-- End pet profile instance -->