<form class="form-horizontal">
  <fieldset>

    <!-- Form Name -->
    <legend>Pet Details</legend>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-sm-2 control-label" for="textinput">Name</label>
      <div class="col-sm-10">
        <input type="text" value="{{pet.name}}" class="form-control">
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-sm-2 control-label" for="textinput">Birthday</label>
      <div class="col-sm-10">
        <input type="text" value="{{pet.birthday}}" class="form-control">
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-sm-2 control-label" for="textinput">Breed</label>
      <div class="col-sm-10">
        <input type="text" value="{{pet.breed}}" class="form-control">
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-sm-2 control-label" for="textinput">Gender</label>
      <div class="col-sm-10">
        <input type="text" value="{{pet.gender}}" class="form-control">
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-sm-2 control-label" for="textinput">Color</label>
      <div class="col-sm-10">
        <input type="text" value="{{user.city}}" class="form-control">
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-sm-2 control-label" for="textinput">Color</label>
      <div class="col-sm-10">
        <input type="text" value="{{pet.color}}" class="form-control">
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-sm-2 control-label" for="textinput">Weight</label>
      <div class="col-sm-10">
        <input type="text" value="{{pet.weight}}" class="form-control">
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-sm-2 control-label" for="textinput">Neuter</label>
      <div class="col-sm-10">
        <input type="text" value="{{pet.neuter}}" class="form-control">
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-sm-2 control-label" for="textinput">Microchip #</label>
      <div class="col-sm-10">
        <input type="text" value="{{pet.microchip}}" class="form-control">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div>
          
        </div>
        <div class="pull-right">
          <button ng-click="cancel()" class="btn btn-primary">CANCEL</button>
          <button ng-click="ok()" class="btn btn-primary">UPDATE</button>
        </div>
      </div>
    </div>

  </fieldset>
</form>