<div ng-controller="MainCtrl">
  <button ui-sref="^.profile" type="login" class="btn btn-default">PROFILE</button>

  <center>
    <img src="assets/logo.png"/>
  </center>

  <!-- @TODO make a directive for pets properly -->
  <accordion close-others="false">
    <accordion-group ng-repeat="pet in pets">
      <accordion-heading style="display:block">
        <table class="" style="width:100%">
          <tr>
            <td>
              <img class='petImg' ng-src='{{pet.pet.profileUrl}}'/>
            </td>
            <td>Name: {{pet.pet.name}}</td>
            <td>Birthday: {{pet.pet.birthdate}}</td>
            <td>Breed: {{pet.pet.breed}}</td>
            <td ng-switch='pet.status.vaccine'>
              Vaccines:
              <span ng-switch-when='active' class="label label-success">Active</span>
              <span ng-switch-when='expiring' class="label label-warning">Expiring</span>
              <span ng-switch-when='expired' class="label label-danger">Expired</span>
            </td>
            <td ng-switch='pet.status.update'>
              Updates:
              <span ng-switch-when='normal' class="label label-success">Normal</span>
              <span ng-switch-when='pending' class="label label-warning">Pending</span>
            </td>
          </tr>
        </table>
      </accordion-heading>
      EXPANDABLE CONTENT
    </accordion-group>
  </accordion>
  <!-- End pet profile instance -->
</div>