<div class="Aligner">
  <div class="Aligner-item">
    <h2>Signup page</h2>
    <form ng-submit='createUser()' role="form">

      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input ng-model='user.email' type="email" class="form-control" placeholder="apple@hackreactor.com">
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input ng-model='user.password' type="password" class="form-control" placeholder="woofwoof">
      </div>

      <button ui-sref='app.main' type="submit" class="btn btn-default">SIGNUP</button>

    </form>
  </div>
</div>