<div class="container">

   <div class="navbar navbar-default" id="header_container">
   <h1 class="title">
   	<img src="assets/logo.png"/>
    Pawprint Admin
   </h1>
      <button class="btn btn-large btn-danger right" ng-click="CurrentAdminService.exitAdmin()">Log Out</button>
    </div>

<div class="jumbotron">
    <div class="row">
      <h2 class="col-md-3 new">New:  {{stats.new}}</h2>
      <h2 class="col-md-3 pending">Pending:  {{stats.pending}}</h2>
      <h2 class="col-md-3 complete">Complete:  {{stats.complete}}</h2>
      <h2 class="col-md-3 cancelled">Cancelled:  {{stats.cancelled}}</h2>
    </div>
  </div>

	<table class="table table-hover">
		<thead>
			<tr>
				<th>Request ID</th>
				<th>User</th>
				<th>Vet</th>
				<th>Pet</th>
				<th>Date Created</th>
				<th>Date Last Modified</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="request in requests" ng-click='setReqAndTransition(request.id, request.vet_id, request.user_id, request.pet_id, request.status)'>
					<td>{{request.id}}</td>
					<td>{{request.user_id}}</td>
					<td>{{request.vet_id}}</td>
					<td>{{request.pet_id}}</td>
					<td>{{request.created_at}}</td>
					<td>{{request.updated_at}}</td>
					<td><div ng-class="setClassOnRequest('{{request.status}}')">{{request.status}}</div></td>
			</tr>
		</tbody>
	</table>


</div>