<div>
<table class="table">
    <thead>
      <tr>
        <th>Admin ID</th>
        <th>Notes</th>
        <th>Request_ID</th>
        <th>Vet Contact</th>
        <th>Form of Communication</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="contact in contacts">
          <td>{{contact.admin_id}}</td>
          <td>{{contact.notes}}</td>
          <td>{{contact.request_id}}</td>
          <td>{{contact.vetContact_id}}</td>
          <td>{{contact.type}}</td>
      </tr>
    </tbody>
  </table>
</div>