<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Vaccine Information
      <div class="btn-group" dropdown is-open="status.isopen">
        <span class="dropdown">
          <button  class="btn btn-large btn-default dropdown-toggle">Add<span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li ng-repeat="vaccine in vaccines"><span ng-click="setVacc(vaccine.name)">{{vaccine.name}}</span></li>
              </ul>
        </span>
      </div>
    </h2>
      </div>
    <div class="panel-body">
        
   <form>
    <legend>Add a Vaccine</legend>
      Vaccine: <input type="text" name="firstname" ng-model="vaccine.name" placeholder="{{vaccine.name}}"><br>
      Date Administered: <input type="text" name="lastname" ng-model="vaccine.date" placeholder="{{vaccine.date}}"><br>
      Expiration: <input type="text" name="expiration" ng-model="vaccine.expiration" placeholder="{{vaccine.expiration}}">
      <hr>
      Add a new global vaccine: <input type="text" name="vaccine" ng-model="newVacc">
      <button class="btn btn-small btn-danger" ng-click="sendVaccine(newVacc)">Add</button>

    </form>
</div>
</div>
