<div class="jumbotron">
	<div class='row'>
	 	<div class="col-md-6"><h1>All Requests Summary</h1></div>
  		<div class="col-md-6"><h1>Your Requests Summary</h1></div>
  	</div>	
</div>

<div class="container">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Request ID</th>
				<th>User</th>
				<th>Pet</th>
				<th>Date Created</th>
				<th>Date Last Modified</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="request in requests" ng-click='setReqAndTransition(request.requestID)'>
					<td>{{request.requestID}}</td>
					<td>{{request.user}}</td>
					<td>{{request.pet}}</td>
					<td>{{request.dateCreated}}</td>
					<td>{{request.dateLastModified}}</td>
					<td><div class="label label-primary">Open</div></td>
			</tr>
		</tbody>
	</table>
</div>