<div id="header_container">
    <div id="header">
      <div class="row">
        <div class="col-md-4">
          <h2>Pawprint Admin</h2>
        </div>
        <div class="col-md-8">
          <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        </div>
          <button class="btn btn-large btn-info logout">Log Out</button>
        </div>
    </div>
</div>

          
    

<div class="container" id="container">

<div class="row">
	<div class="col-md-3">
		<div class="panel panel-default">
			<h4>Viewing Request: {{reqID}}</h4>
      <h4>Vet ID: {{vetID}}</h4>
      <h4>User ID: {{userID}}</h4>
      <h4>Pet ID: {{petID}}</h4>
      <h4>Request Status:<span>{{reqStatus}}</span></h4>
		</div>
	</div>

  <div class="col-md-6">
  		<div class="btn-group" dropdown is-open="status.isopen">
  				 <span class="dropdown">
      				<button  class="btn btn-large btn-default dropdown-toggle">Update Status<span class="caret"></span></button>
						    <ul class="dropdown-menu">
						      <li ng-repeat="code in statusCodes"><a ng-model="code.name" ng-click="postUpdatedStatus(code.name)">{{code.name}}</a></li>
						    </ul>
  				 </span>
			    </div>
  		<button class="btn btn-large btn-info">Download PDF</button>
  		<button ui-sref="app.main" class="btn btn-large btn-default">Back to All Requests</button>
      <div>
      <textarea id="note" class="form-control" ng-model="noteText" rows="3"></textarea>
          <button class="btn btn-large btn-info" ng-click='postNote()'>Leave a Note</button>
      </div>
  </div>


</div>

<div class='row'>
	<div class="col-md-4">
    <vet-info></vet-info>
  </div>
    <div class="col-md-8">
      <user-info></user-info>
    </div>
</div>


<div class="row">
  <div class="col-md-3">
		<edit-vacc></edit-vacc>
	</div>
	<div class="col-md-9">
		<vacc-record></vacc-record>
	</div>
</div>


<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
        <div>
        <h2 class="panel-title">Contact History</h2>
      </div>
			</div>
			<div class="panel-body">
				<contact-hist></contact-hist>
			</div>
   </div>
 </div>
</div>
</div>


  
