<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<h2>Viewing Request: {{reqID}}</h2>
  		<h2>Status: <span ng-class="setClassOnRequest('{{reqStatus}}')">{{reqStatus}}</span></h2>
		</div>
	</div>

  <div class="col-md-6">
  		<div class="btn-group" dropdown is-open="status.isopen">
  				 <span class="dropdown">
      				<button  class="btn btn-large btn-default dropdown-toggle">Update Status<span class="caret"></span></button>
						    <ul class="dropdown-menu">
						      <li ng-repeat="statusCode in statusCodes">{{statusCode}}</li>
						    </ul>
  				 </span>
			    </div>
  		<button class="btn btn-large btn-info">Download PDF</button>
  		<button ui-sref="app.main" class="btn btn-large btn-default">Back to All Requests</button>
  </div>
</div>

<div class='row'>
	<div class="col-md-4">
     <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Vet Information 
            </div>

            <div class="panel-body">
                <vet-info></vet-info>
            </div>
     </div>
  </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">User Information 
            </div>

            <div class="panel-body">
                <user-info></user-info>
            </div>
        </div>
    </div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
          <h2 class="panel-title">Vaccine Information</h2>
			</div>
			<div class="panel-body">
				<div class="col-md-3">
					<div class="btn-group" dropdown is-open="status.isopen">
  				 <span class="dropdown">
      				<button  class="btn btn-large btn-default dropdown-toggle">Add an existing vaccine<span class="caret"></span></button>
						    <ul class="dropdown-menu">
						      <li ng-repeat="vaccine in vaccines">{{vaccine}}</li>
						    </ul>
  				 </span>
  				 <form>
  				 	<legend>Add a Vaccine</legend>
							Vaccine: <input type="text" name="firstname" placeholder="{{vaccine.name}}"><br>
							Date Administered: <input type="text" name="lastname" placeholder="{{vaccine.date}}"><br>
							Expiration: <input type="text" name="expiration" placeholder="{{vaccine.expiration}}"><br>
						</form>
			    </div>
				</div>

				<div class="col-md-9">
					<vacc-record></vacc-record>
			</div>
   </div>
 </div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
        <div>
        <h2 class="panel-title">Contact History</h2>
      </div>
			</div>
			<div class="panel-body">
				<contact-hist></contact-hist>
			</div>
   </div>
 </div>
</div>




  
