<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">User Information 
      <button class="btn btn-default" ng-click="editUser()">Edit</button>
      <button class="btn btn-warning" ng-hide="editingUser">Submit</button>
      <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    </h2>
  </div>


<div class="panel-body">
  <div>
    <div class="col-md-6">
    <form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>User Information</legend>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">First Name</label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text" placeholder="{{userData.firstName}}" class="input-small" ng-readonly="editingUser">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">Last Name</label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text" placeholder="{{userData.lastName}}" class="input-small" ng-readonly="editingUser">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">Phone Number</label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text" placeholder="{{userData.phone}}" class="input-medium" ng-readonly="editingUser">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">Email</label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text" placeholder="{{userData.email}}" class="input-medium" ng-readonly="editingUser">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">Street Address</label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text" placeholder="{{userData.streetAddress}}" class="input-medium" ng-readonly="editingUser">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">City</label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text" placeholder="{{userData.city}}" class="input-small" ng-readonly="editingUser">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">State</label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text" placeholder="{{userData.state}}" class="input-mini" ng-readonly="editingUser">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">Zip</label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text" placeholder="{{userData.zip}}" class="input-small" ng-readonly="editingUser">
    
  </div>
</div>

</fieldset>
</form>
</div>
<div class="col md-6">
      <form class="form-horizontal">
    <fieldset>

    <!-- Form Name -->
    <legend>Pet Info</legend>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="textinput">Name</label>
      <div class="controls">
        <input id="textinput" name="textinput" type="text" placeholder="{{petData.name}}" class="input-small" ng-readonly="editingUser">
        
      </div>
    </div>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="textinput">Birthday</label>
      <div class="controls">
        <input id="textinput" name="textinput" type="text" placeholder="{{petData.birthdate}}" class="input-small" ng-readonly="editingUser">
        
      </div>
    </div>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="textinput">Gender</label>
      <div class="controls">
        <input id="textinput" name="textinput" type="text" placeholder="{{petData.gender}}" class="input-mini" ng-readonly="editingUser">
        
      </div>
    </div>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="textinput">Breed</label>
      <div class="controls">
        <input id="textinput" name="textinput" type="text" placeholder="{{petData.breed}}" class="input-medium" ng-readonly="editingUser">
        
      </div>
    </div>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="textinput">Color</label>
      <div class="controls">
        <input id="textinput" name="textinput" type="text" placeholder="{{petData.color}}" class="input-medium" ng-readonly="editingUser">
        
      </div>
    </div>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="textinput">Weight</label>
      <div class="controls">
        <input id="textinput" name="textinput" type="text" placeholder="{{petData.weight}}" class="input-small" ng-readonly="editingUser">
        
      </div>
    </div>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="textinput">Spay/Neuter Status</label>
      <div class="controls">
        <input id="textinput" name="textinput" type="text" placeholder="{{petData.neuter}}" class="input-mini" ng-readonly="editingUser">
        
      </div>
    </div>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="textinput">Microchip #</label>
      <div class="controls">
        <input id="textinput" name="textinput" type="text" placeholder="{{petData.microchip}}" class="input-medium" ng-readonly="editingUser">
        
      </div>
    </div>

    </fieldset>
    </form>
</div>
</div>
