<div>
  <div class="col-md-6">
  <button class="btn btn-default" ng-click="toggleEdit()">Edit</button>
  <button class="btn btn-warning" ng-hide="editing">Submit</button>
  <form class="form-horizontal" ng-readonly>
<fieldset>

<!-- Form Name -->
<legend>User Information</legend>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">First Name</label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text" placeholder="{{user.firstName}}" class="input-small" ng-readonly="editing">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">Last Name</label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text" placeholder="{{user.lastName}}" class="input-small" ng-readonly="editing">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">Phone Number</label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text" placeholder="{{user.phoneNumber}}" class="input-medium" ng-readonly="editing">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">Email</label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text" placeholder="{{user.email}}" class="input-medium" ng-readonly="editing">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">Street Address</label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text" placeholder="{{user.address}}" class="input-medium" ng-readonly="editing">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">City</label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text" placeholder="{{user.city}}" class="input-small" ng-readonly="editing">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">State</label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text" placeholder="{{user.state}}" class="input-mini" ng-readonly="editing">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">Zip</label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text" placeholder="{{user.zip}}" class="input-small" ng-readonly="editing">
    
  </div>
</div>

</fieldset>
</form>
</div>
<div class="col md-6">
      <form class="form-horizontal">
    <fieldset>

    <!-- Form Name -->
    <legend>Pet Info</legend>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="textinput">Name</label>
      <div class="controls">
        <input id="textinput" name="textinput" type="text" placeholder="{{pet.name}}" class="input-small" ng-readonly="editing">
        
      </div>
    </div>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="textinput">Birthday</label>
      <div class="controls">
        <input id="textinput" name="textinput" type="text" placeholder="{{pet.birthDay}}" class="input-small" ng-readonly="editing">
        
      </div>
    </div>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="textinput">Gender</label>
      <div class="controls">
        <input id="textinput" name="textinput" type="text" placeholder="{{pet.gender}}" class="input-mini" ng-readonly="editing">
        
      </div>
    </div>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="textinput">Breed</label>
      <div class="controls">
        <input id="textinput" name="textinput" type="text" placeholder="{{pet.breed}}" class="input-medium" ng-readonly="editing">
        
      </div>
    </div>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="textinput">Color</label>
      <div class="controls">
        <input id="textinput" name="textinput" type="text" placeholder="{{pet.color}}" class="input-medium" ng-readonly="editing">
        
      </div>
    </div>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="textinput">Weight</label>
      <div class="controls">
        <input id="textinput" name="textinput" type="text" placeholder="{{pet.weight}}" class="input-small" ng-readonly="editing">
        
      </div>
    </div>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="textinput">Spay/Neuter Status</label>
      <div class="controls">
        <input id="textinput" name="textinput" type="text" placeholder="{{user.neuter}}" class="input-mini" ng-readonly="editing">
        
      </div>
    </div>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="textinput">Microchip #</label>
      <div class="controls">
        <input id="textinput" name="textinput" type="text" placeholder="{{user.microChip}}" class="input-medium" ng-readonly="editing">
        
      </div>
    </div>

    </fieldset>
    </form>
</div>
</div>
