<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Vet Information 
       <button class="btn btn-default" ng-click="editVet()">Edit</button>
    <button class="btn btn-warning" ng-hide="editingVet">Submit</button>
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    </h2>
  </div>


<div class="panel-body">
  <div>
    <div class="col-md-6">
 
    <form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Practice Info</legend>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">Practice</label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text" placeholder="{{vetData.practiceName}}" class="input-medium" ng-readonly="editingVet">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">Website</label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text" placeholder="{{vetData.website}}" class="input-medium" ng-readonly="editingVet">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">Email</label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text" placeholder="{{vetData.email}}" class="input-medium" ng-readonly="editingVet">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">Phone number</label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text" placeholder="{{vetData.phone}}" class="input-medium" ng-readonly="editingVet">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">Street Address</label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text" placeholder="{{vetData.streetAddress}}" class="input-large" ng-readonly="editingVet">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">City</label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text" placeholder="{{vetData.city}}" class="input-small" ng-readonly="editingVet">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">State</label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text" placeholder="{{vetData.state}}" class="input-mini" ng-readonly="editingVet">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">Zip</label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text" placeholder="{{vetData.zip}}" class="input-mini" ng-readonly="editingVet">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">Preferred Contact</label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text" placeholder="{{vetData.contactMethod}}" class="input-medium" ng-readonly="editingVet">
    
  </div>
</div>

</fieldset>
</form>
</div>
<div class="col-md-6">
  <form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Main Vet Contact</legend>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">Name</label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text" placeholder="{{vet.vetName}}" class="input-medium" ng-readonly="editingVet">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">Title</label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text" placeholder="{{vet.title}}" class="input-medium" ng-readonly="editingVet">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">Phone number</label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text" placeholder="{{vet.phoneNumber}}" class="input-medium" ng-readonly="editingVet">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">Phone number</label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text" placeholder="{{vet.email}}" class="input-medium" ng-readonly="editingVet">
    
  </div>
</div>

</fieldset>
</form>
   
</div>
  </div>
     </div>

